<a href="https://colab.research.google.com/github/CreatorGhost/Artificialintelligence/blob/master/Amazon_Food_Review_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Amazon Review Analysis

<b> Objective: </b> : To determine whether a review is positive or negative and build based on the rating provided. <br>
<b> Data Source :</b> https://www.kaggle.com/snap/amazon-fine-food-reviews/

<br> <b>Data Overview :</b> This dataset contains all the reviews written by people who purchaged iffrent food product from the amazon along with their rating and review<br>
<br>

Number of reviews: 568,454<br>
Number of users: 256,059<br>
Number of products: 74,258<br>
Timespan: Oct 1999 - Oct 2012<br>
Number of Attributes/Columns in data: 10 <br>


Attribute Information:

1. Id
2. ProductId - unique identifier for the product
3. UserId - unqiue identifier for the user
4. ProfileName
5. HelpfulnessNumerator - number of users who found the review helpful
6. HelpfulnessDenominator - number of users who indicated whether they found the review helpful or not
7. Score - rating between 1 and 5
8. Time - timestamp for the review
9. Summary - brief summary of the review
10. Text - text of the review




<br>
[Q] How to determine if a review is positive or negative?<br>
<br> 
[Ans] We could use the Score/Rating. A rating of 4 or 5 could be cosnidered a positive review. A review of 1 or 2 could be considered negative. A review of 3 is  ignored as it can be positive or negative and that can impact our model accuracy. This is an approximate and proxy way of determining the polarity (positivity/negativity) of a review.

##Loding Dataset
The dataset is in 2 format 
1. Sqlite Database
2. .csv file

We will be using Sqlite database as it is more easier to fetch,visulize and do manipulation of data with sql commands

In [0]:
import sqlite3
import pandas as pd

con=sqlite3.connect('sample_data/AmazonFood/database.sqlite')

**Reading database into dataframe by neglecting all the 3 star reviews**

In [0]:
data=pd.read_sql_query('''
Select *
From Reviews
where Score !=3
''',con)

In [5]:
#Lets See How Our Dataframe Looks Like
data.head(4)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...

[4 rows x 10 columns]

#Converting Score into positive or negative
We are going to change our score in the form of positive and negative<br>
Score 1-2 : Negative<br>
Score 4-5 : Positive<br>
Score 3 : Already Neglected

In [0]:
## Writting function to convert score into Positive or Negative

def convert(x):
  if x >3:
    return 'Positive'
  return 'Negative'

In [0]:
score=data.Score
new=score.map(convert)

In [0]:
#new column after geting score converted in Positive or Negative
# Adding new cloumn in our dataframe with saved changes
data.Score=new

In [19]:
data.head(5)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

*Score are coverted into Positve and Negative*

##**Data Cleaning**
After diging into data we discovered that there were many duplicacy in data like <br>
Same Person reviewed many product with same time stamp and given similar review and rating. 
<br>
So we are going to remove that data