<a href="https://colab.research.google.com/github/CreatorGhost/Artificialintelligence/blob/master/IrisFullAcuurate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [0]:
data=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [7]:
data.head(2)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa

In [0]:
col=['l1','w1',"l2",'w2','tr']
data.columns=col

In [9]:
data.head(3)

    l1   w1   l2   w2           tr
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [12]:
data.isnull().sum()

l1    0
w1    0
l2    0
w2    0
tr    0
dtype: int64

In [13]:
data.tr.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [0]:
data.tr=data.tr.map({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})

In [18]:
data.head(2)

    l1   w1   l2   w2  tr
0  4.9  3.0  1.4  0.2   0
1  4.7  3.2  1.3  0.2   0

In [0]:
x=data.drop('tr',axis=1)
y=data.tr

In [20]:
x.head(2)

    l1   w1   l2   w2
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2

In [21]:
y

0      0
1      0
2      0
3      0
4      0
      ..
144    2
145    2
146    2
147    2
148    2
Name: tr, Length: 149, dtype: int64

In [0]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.33, random_state=28
                                                    )

In [46]:
lg=LogisticRegression()
lg.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
lg.score(X_test,y_test)

1.0

In [35]:
from sklearn.externals import joblib
joblib.dump(lg,"IrisFinal.pkl")

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['IrisFinal.pkl']

In [37]:
!ls

IrisFinal.pkl  sample_data

In [0]:
from google.colab import files
files.download('IrisFinal.pkl')